[language-server.rust-analyzer.config]
check = { command = "clippy" }
cargo = { features = "all", "allTargets" = true }

[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[[language]]
name = "elixir"
auto-format = true

[[language]]
name = "racket"
auto-format = true

[[language]]
name = "python"
auto-format = true
language-servers = [ "pyright", "ruff" ]

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "typescript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "tsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "astro"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "astro"] }

[[language]]
name = "markdown"
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"]}

[[language]]
name = "cpp"
auto-format = true

[[language]]
name = "bash"
indent = { tab-width = 2, unit = "\t" }

[[language]]
name = "cairo"
language-servers = [ "cairo-language-server" ]

[language-server.cairo-language-server]
command = "scarb"
args = ["cairo-language-server"]
