[user]
	email = gonzalezcalderonjulian@gmail.com
	name = Julián González Calderón
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	autocrlf = input
	pager = less -FXR
[pull]
	rebase = true
