[user]
	email = gonzalezcalderonjulian@gmail.com
	name = Julián González Calderón

[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
	conflictStyle = zdiff3

[alias]
	co = checkout
	l  = pull
	p  = push
	st = status
