[character]
success_symbol = "[>](bold green)"
error_symbol = "[x](bold red)"

[git_commit]
tag_symbol = " "
tag_disabled = false
[git_branch]
symbol = ""

[git_status]
ahead = ">"
behind = "<"
diverged = "<>"
renamed = "r"
deleted = "x"

[package]
disabled = true
[python]
symbol = "py "
[rust]
disabled = true
[nodejs]
disabled = true
[golang]
symbol = "go "

[battery]
full_symbol = "full "
charging_symbol = "charging "
discharging_symbol = "discharging "
unknown_symbol = "unknown "
empty_symbol = "empty "
